<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
      <title>Contacts</title>
</head>
<style>
  .active {
    display: block;
  }

  .inactive {
    display: none;
  }

  #suggestionContainer {
    position: relative;
  }

  #suggestionBox {
    position: relative;
    border: solid 1px #000;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
    cursor: pointer;
  }

  #suggestionBox div {
    padding: 10px;
  }

  #suggestionBox div:hover {
    background-color: #06c;
    color: #fff;
  }
</style>
<body>
  <div class="pt-5 text-center">
    <h2>Update Your Profile</h2>
  </div>
  <form action="{{ url_for("add_contact")}}" method="post">
  <form action="{{ url_for("get_contact_by_userid", userid=userid)}}" method="put">
    <div class="row">
      <div class="form-group col-md-8 offset-md-2">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" class="form-control">

          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" class="form-control">

          <label for="address">Address:</label>
          <div>
            <input type='text' id='address' value='' autocompelete='smartystreet' class="form-control"/>
          </div>
          <div>
            <div id='suggestionBox' class='inactive'>
          </div>
          <!-- <input type="text" id="address" name="address" oninput="addressAutocomplete()" class="form-control"> -->
          <script>
            // import "./styles.css";

            const smartyKey = "146285196731897141";
            // const api_key = "AIzaSyCVc0q0-3jtaEc__0I8GORSt2339A4mRsw"
            const addressElement = document.getElementById("address");
            const suggestionElement = document.getElementById("suggestionBox");

            addressElement.addEventListener("keyup", (e) => {
              const searchValue = e.target.value;

              suggestionElement.innerHTML = "";
              if (!searchValue) {
                suggestionElement.classList.remove("active");
                suggestionElement.classList.add("inactive");
                return;
              }

              suggestionElement.classList.remove("inactive");
              suggestionElement.classList.add("active");

              sendLookupRequest(searchValue);
            });

            const sendLookupRequest = async (searchValue) => {
              const params = new URLSearchParams({
                key: smartyKey,
                search: searchValue,
                source: "all"
              });
              // const params = new URLSearchParams({
              //   input: searchValue,
              //   types: "geocode",
              //   key: api_key,
              //   // source: "all"
              // });
              const request = await fetch(
                `https://us-autocomplete-pro.api.smarty.com/lookup?${params}`
              );
              // const request = await fetch(
              //   `https://maps.googleapis.com/maps/api/place/autocomplete/json?${params}`, {
              //     mode: "no-cors"
              //   }
              // );
              const data = await request.json();
              // console.log(data);
              if (data?.suggestions?.length > 0) formatSuggestions(data.suggestions);
            };

            const formatSuggestions = (suggestions) => {
              const formattedSuggestions = suggestions.map((suggestion) => {
                const divElement = document.createElement("div");
                divElement.innerText = `${suggestion.street_line} ${suggestion.city} ${suggestion.state} ${suggestion.zipcode}`;

                divElement.addEventListener("click", () => {
                  suggestionElement.classList.remove("active");
                  suggestionElement.classList.add("inactive");
                  populateForm(suggestion);
                });
                return divElement;
              });

              suggestionElement.append(...formattedSuggestions);
            };

            const populateForm = (suggestion) => {
              document.getElementById(
                "address"
              ).value = `${suggestion.street_line} ${suggestion.city} ${suggestion.state} ${suggestion.zipcode}`;
            };


          </script>

          <label for="phone">Phone Number:</label>
          <input type="text" id="phone" name="phone" class="form-control">

          <label for="email">Email:</label>
          <input type="text" id="email" name="email" class="form-control">
          <br>
          <button type="submit" class="btn btn-primary mr-3 ml-5">Submit</button>
          
      </div>
    </div>
  </form>
</body>
</html>